.main {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

/* Стили для <select> */
.subject-select {
  outline: none;
  -webkit-appearance: none;
}
.subject {
  display: flex;
  align-items: center;
  width: 200px; /* Задайте ширину контейнера по своему усмотрению */
}

.subbb {
  flex-grow: 1;
  padding-right: 10px; /* Учтите ширину кнопки, чтобы не перекрывать текст */
}

.subject-decrement-button {
  /* padding: 5px 10px; Задайте размеры кнопки по вашему выбору */
  margin-left: -2px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}
/* Стили для кнопки "Insert" */
.insert-button {
  display: block;
}

/* Стили для блока custom-input */
.custom-input {
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* padding: 5px; */
}

/* Стили для блока buttons */
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
}

/* Стили для <input> с типом "number" */
.age-input {
  border: none;
  outline: none;
  width: 90px;
  text-align: start;
}

/* Стили для обычных кнопок */
.increment-button {
  width: 25px;
  height: 22px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  background-color: rgb(173, 169, 169);
}
.decrement-button {
  width: 25px;
  height: 22px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

/* Стили для блока с переключателем */
.toggle-container {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Стили для метки переключателя */
.toggle-label {
  cursor: pointer;
  text-indent: 40px;
  line-height: 20px;
  width: 35px;
  height: 20px;
  background: rgb(58, 106, 22);
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

/* Стили для состояния "checked" метки */
.toggle-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

/* Стили для состояния "checked" метки после активации */
input:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* Стили для кнопки "Delete" */
.delete-button {
  display: block;
}
