.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

/* Стили для <select> */
.subject-select {
  outline: none;
  -webkit-appearance: none;
}
.subject {
  display: flex;
  align-items: center;
  width: 200px;
}

.subbb {
  flex-grow: 1;
  padding-right: 10px;
}

.subject-decrement-button {
  /* padding: 5px 10px; */
  margin-left: -2px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

/* Стили для блока custom-input */
.custom-input {
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для <input> с типом "number" */
.age-input {
  border: none;
  outline: none;
  text-align: start;
}

/* Стили для обычных кнопок */
.increment-button {
  background-color: #ccc;
  border: none;
  cursor: pointer;
}
.decrement-button {
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

/* Стили для метки переключателя */
.toggle-label {
  cursor: pointer;
  text-indent: 40px;
  line-height: 20px;
  width: 35px;
  height: 20px;
  background: rgb(51, 78, 24);
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

/* Стили для состояния "checked" метки */
.toggle-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  background: rgb(238, 238, 238);
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
}

/* Стили для состояния "checked" метки после активации */
input:checked + .toggle-label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.toggle-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
