/* Стили для элементов в темной теме */
.night-mode.last {
  background-color: #444;
}

.night-mode .main {
  background-color: #444; /* Цвет фона для темной темы */
  color: rgb(206, 205, 205); /* Цвет текста для темной темы */
  border: 1.5px solid rgb(209, 209, 209);
  border-radius: 5px;
}
.night-mode .main::before {
  background-color: #444; /* Цвет фона для темной темы */
  color: rgb(252, 252, 252); /* Цвет текста для темной темы */
}
.night-mode .age-input {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode .name-input {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode .subject-select {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode #check::before {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode #check:checked::after {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  border-bottom: 3px solid #cbcbcb; /*チェックの太さ*/
  border-left: 3px solid #cccccc; /*チェックの太さ*/
}
.night-mode .toggle-label::after {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  background: rgb(208, 208, 208);
}

.night-mode .decrement-button {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  background: rgb(114, 114, 114);
}
.night-mode .increment-button {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  background: rgb(114, 114, 114);
}
.night-mode .subject-button {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  background: rgb(114, 114, 114);
}
.night-mode .button-have {
  background-color: #444; /* Цвет фона для темной темы */
  color: rgb(255, 252, 252); /* Цвет текста для темной темы */
  background: rgb(106, 106, 106);
}

.last {
  display: flex;
  justify-content: center;
  padding-top: 190px;
  padding-bottom: 200px;
  background-color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  width: 265px;
  height: 390px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  overflow: visible;
  margin-right: 23px;
  padding: 0px 5px 0px 5px;
  background-color: #fff;
}

.main::before {
  content: "Insert Row"; /* Текст, который нужно добавить внутрь главного контейнера */
  position: absolute;
  background-color: #fff;
  top: -12px; /* Отступ от верхней границы контейнера */
  left: 10px; /* Отступ от левой границы контейнера */

  /* Другие стили для текста заголовка */
}

.name-input {
  width: 254px;
  height: 40px;
  text-align: start;
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(130, 128, 128);
  border-radius: 4px;
  padding-left: 5px;

  margin-bottom: 11px;
}
/* Стили для блока custom-input */
.custom-input {
  outline: none;

  display: flex;
  align-items: center;
  border: 1px solid rgb(130, 128, 128);
  border-radius: 4px;
  margin-bottom: 11px;
}

/* Стили для <input> с типом "number" */
.age-input {
  width: 199px;
  height: 37px;
  outline: none;
  text-align: start;
  border: 0px solid rgb(130, 128, 128);
  padding-left: 5px;
}

/* Стили для обычных кнопок */
.increment-button {
  padding: 11px 7px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.increment-button:hover {
  background-color: rgb(159, 157, 157);
}

.decrement-button {
  padding: 11px 7px;
  background-color: #ccc;
  border: none;
  border-right: 1px solid rgb(111, 111, 111);
  cursor: pointer;
}

.decrement-button:hover {
  background-color: rgb(159, 157, 157);
}

/* Стили для <select> */
.subject-select {
  width: 234px;
  height: 40px;
  border: 0px solid rgb(130, 128, 128);
  border-radius: 4px;
  font-size: 17;
  outline: none;
  -webkit-appearance: none;
  padding-left: 5px;
}
.subject {
  outline: none;
  display: flex;
  align-items: center;
  border: 1px solid rgb(130, 128, 128);
  border-radius: 4px;
  margin-bottom: 17px;
}

.subject-button {
  padding: 11px 7px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.subject-button:hover {
  background-color: rgb(159, 157, 157);
}

.button-have {
  width: 265px;
  height: 40px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.button-have:hover {
  background-color: rgb(159, 157, 157);
}

.line {
  width: 265px;
  background-color: rgb(155, 155, 155);
  height: 1.2px;
  /* margin: 0 auto; */
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Стили для метки переключателя */
.toggle-label {
  cursor: pointer;
  text-indent: 50px;
  line-height: 20px;
  width: 46px;
  height: 23px;
  background: rgb(89, 156, 84);
  display: inline-block;
  border-radius: 10px;
  position: relative;
  outline: none;
  margin-bottom: 15px;
}

/* Стили для состояния "checked" метки */
.toggle-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 15px;
  background: rgb(17, 17, 17);
  height: 15px;
  border-radius: 50%;
  transition: 0.3s;
}

/* Стили для состояния "checked" метки после активации */
input:checked + .toggle-label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.toggle-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.main-check {
  display: flex;
  align-items: center;
  text-indent: 5px;
  margin-bottom: 17px;
}

#check {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#check {
  cursor: pointer;
  padding-left: 30px; /*label手前にチェックボックス用の余白を開ける*/
  vertical-align: middle;
  position: relative;
}
#check::before,
#check::after {
  content: "";
  display: block;
  position: absolute;
}
#check::before {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid rgb(89, 156, 84);
  width: 20px; /*チェックボックスの横幅*/
  height: 20px; /*チェックボックスの縦幅*/
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}

#check::after {
  border-bottom: 3px solid #666464; /*チェックの太さ*/
  border-left: 3px solid #666464; /*チェックの太さ*/
  opacity: 0; /*チェック前は非表示*/
  height: 6px; /*チェックの高さ*/
  width: 11px; /*チェックの横幅*/
  transform: scale(0) rotate(-45deg);
  top: -7px; /*チェック時の位置調整*/
  left: 10px; /*チェック時の位置調整*/
  transition: opacity 0.3s, transform 0.2s;
}

#check:checked::after {
  opacity: 1; /*チェック後表示*/
  transform: scale(1) rotate(-45deg);
}
