/* Стили для элементов в темной теме */
.night-mode .chiled {
  background-color: #333; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
  border: 1px solid rgb(237, 235, 235);
  border-radius: 5px;
}

.night-mode table {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode tr {
  background-color: #444; /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode th {
  background-color: rgb(114, 114, 114); /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
.night-mode tr:hover {
  background-color: rgb(84, 82, 82); /* Цвет фона для темной темы */
  color: #fff; /* Цвет текста для темной темы */
}
/* Ваши стили для таблицы */
.chiled {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 50%;
  height: 390px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  overflow: visible;

  padding: 0px 5px 0px 5px;
  background-color: #fff;
  overflow: scroll;
}

/* Стили для полосы прокрутки */
.chiled::-webkit-scrollbar {
  width: 6px; /* Ширина полосы прокрутки */
  background-color: transparent; /* Цвет фона полосы прокрутки */
}

.chiled::-webkit-scrollbar-thumb {
  background-color: rgb(89, 156, 84);
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

thead {
  background-color: #f2f2f2;
}

/* Дополнительные стили для выделения заголовков и строк */
th {
  background-color: #aaaaaa;
  color: white;
}

tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

tr:hover {
  background-color: #ddd;
}

.edit {
  padding: 11px 7px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border: 0px solid rgb(130, 128, 128);
  border-radius: 4px;
  margin-right: 5px;
}
.delete {
  padding: 11px 7px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border: 0px solid rgb(130, 128, 128);
  border-radius: 4px;
}
